header, section, footer {
    max-width: 1440px;
    width: 100%;
}

button {
    font-family: 'Poppins', sans-serif;
    border: 1px solid transparent;
    transition: .6s;
}

button:hover {
    border: 1px solid black;
    background: white;
    color: black;
}

.small-container,
.medium-container,
.large-container {
    margin: 0 auto;
    width: 100%;    
}

.small-container {
    max-width: 600px;
}

.medium-container {
    max-width: 1000px;
}

.large-container {
    max-width: 1170px;
}

.logo-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.happy-logo {
    border-radius: 10px;
    border: none;
    background: linear-gradient(134.6deg, #D140F8 -3.11%, #788CE9 33.98%, #37C2DE 66.35%, #1ECCAE 98.49%);
    color: whitesmoke;
    cursor: pointer;
}

.dark-btn {
    border-radius: 4px;
    border: 1px solid #222;
    background: #222;
    text-transform: uppercase;
    color: aliceblue;
    letter-spacing: 2px;
}

.phone {
    padding: 106px 0 136px;
    max-height: 540px;
    overflow: hidden;
}

.phone-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 210px;
    
}

.phone-container img {
    transition: 2s;
}

.phone-container img:hover {
    transform: translateY(-20px);
}

.symbol-rotate {
    cursor: pointer;
    transition: 1s;
    display: inline-block;
}

.symbol-rotate:hover {
    transform: rotateX(360deg);
}

.blue-text {
    color: #0278ED;
}

.portland-orange-text {
    color: #FF5437;
}

.orange-text {
    color: #FF9209;
}

.dark-pink-text {
    color: #E738CE;
}

.light-blue-text {
    color: #00C6DF;
}

.pale-magenta-text {
    color: #B25DF8;
}

.white-text {
    color: white;
}

.blue-background {
    background: #0278ED;
}

.portland-orange-background {
    background: #FF5437;
}

.orange-background {
    background: #FF9209;
}

.dark-pink-background {
    background: #E738CE;
}

.light-blue-background {
    background: #00C6DF;
}

.pale-magenta-background {
    background: #B25DF8;
}

.white-background {
    background: white;
}

.dark-background {
    background: #222222;
}

.grey-background {
    background: #f2f2f2;
}