body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 2.2rem;
}

.header.section {
    padding: 25px 0;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-wrapper__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header-wrapper__logo-container__logo {
    padding: 10px;
    font-size: 1.8rem;
}

.logo-container__title {
    font-size: 2rem;
    font-weight: 600;
}

.header-wrapper__navigation {
    display: flex;
    align-items: center;
    justify-items: space-between;
    gap: 32px;
}

.header-wrapper__navigation__link {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #666;
}
.header-wrapper__navigation__get-service {
    padding: 10px 25px;
    font-size: 1.4rem;
}


/* ------------------------------------ section 1 intro ----------------------------- */

.intro {
    min-height: 646px;
    overflow: hidden;
} 
.description {
    margin-top: 44px;
}

.description__logo-container {
    gap: 14px;
}

.description__logo-container__logo {
    padding: 17px 15px;
    font-size: 2.7rem;
    margin-bottom: 10px;
}

.description__logo-container__title {
    font-size: 3.2rem;
    font-weight: 600;
}

.description__title {
    padding-bottom: 18px;
    font-weight: 400;
    font-size: 5rem;
    line-height: 6rem;
}

.description__explanation {
    padding-bottom: 20px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    text-align: left;
}


.description__activity-panel button {
    margin: 0 5px;
    padding: 10px 25px;
    font-size: 1.4rem;
}

/* ------------------------------------ section 2 features ----------------------------- */

.features {
    padding: 76px 0 124px;
}

.features-wrapper__text {
    max-width: 494px;
    margin: 0 auto;
    padding-bottom: 44px;
    text-align: center;
}

.features-wrapper__text__title{
    padding-bottom: 14px;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.features-wrapper__text__subtitle {
    display: inline-block;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.6rem;
}

.features-wrapper__tickets {
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.tickets__ticket-container {
    min-width: 32%;
    background: white;
    border-radius: 20px;
    color: black;
    overflow: hidden;
}

.ticket-container__pic-wrapper {
    max-height: 292px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.ticket-phone {
    padding-top: 40px;
    width: 226px;
    height: 450px;
}

.ticket-container__content-box {
    padding-bottom: 40px;
    display: flex;
    background: #f2f2f2;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.ticket-logo-container {
    position: sticky;
    margin: 0 auto;
    padding: 22px 20px;
    transform: translateY(-50%);
    max-width: 64px;
    max-height: 64px;
    border-radius: 0;
    transition: 1s;
}

.ticket-logo-container:hover {
    border-radius: 50%;
}

.ticket-container__content-box__title {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3rem;
}

.ticket-container__content-box__description {
    display: inline-block;
    margin: 0 auto;
    max-width: 298px;
    font-size: 1.5rem;
    line-height: 2.2rem;
}

/* ------------------------------------ section 3 achievements ----------------------------- */

.achievements {
    padding: 100px 0;
    color: white;
}

.achievements__achievements-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
}

.achievements-wrapper__content-container {
    display: inline-flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container__title {
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 9.6rem;
    line-height: 9.6rem;
}

.content-container__subtitle {
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

/* ------------------------------------ section 4 technology and specifications----------------------------- */

.technology.phone,
.specifications.phone {
    max-height: 650px;
}
.technology-container__description.description,
.specifications-conteiner__description.description {
    padding: 32px 0 188px;
    max-width: 406px;
}

.description__subtitle {
    padding-bottom: 5px;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.technology .description__title,
.specifications .description__title {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.6rem;
}

.technology .description__explanation,
.specifications .description__explanation {
    padding-bottom: 88px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: gray;
}

/* ------------------------------------ section 5 Speed&security ----------------------------- */

.specifications__specifications-conteiner {
    flex-direction: row-reverse;
}

/* ------------------------------------ section 6 mode-settings ----------------------------- */

.mode-settings {
    padding: 100px 0 140px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    border: 1px solid lightcoral;
}

.modes-container__subtitle {
    padding-bottom: 6px;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.modes-container__title {
    padding-bottom: 14px;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.6rem;
} 

.modes-container__description {
    padding-bottom: 36px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.modes-container__phone-container {
    padding-bottom: 50px;
    max-height: 486px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.modes-container__phone-container {
    border-bottom: 3px solid white;
    max-height: 486px;
    overflow-y: hidden;
}

.modes-container__phone-container__phone {
    min-width: 400px;
    min-height: 792px;
}

.modes-container__selection-box {
    padding-top: 42px;
    display: flex;
    justify-content: center;
    align-self: start;
    gap: 40px;
}

.mode__title {
    padding-top: 6px;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

/* ------------------------------------ section 7 pricing ----------------------------- */

.pricing {
    padding: 100px 0;
}

.pricing-container {
    text-align: center;
}

.pricing-container__subtitle {
    padding-bottom: 6px;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.pricing-container__title {
    padding-bottom: 14px;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.6rem;
}

.pricing-container__description {
    padding-bottom: 40px;
    max-width: 568px;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.pricing-container__offer-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.offers-container__offer-wrap {
    min-width: 378px;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    background: #f2f2f2;
}

.offer-wrap__title {
    padding-bottom: 6px;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.offer-wrap__price-line {
    padding-bottom: 26px;
    font-weight: 400;
    font-size: 10.8rem;
    line-height: 12.4rem;
    letter-spacing: .8rem;
}

.offer-wrap__explanation {
    padding-bottom: 20px;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    color: black;
}

.offer-wrap__buy-pack {
    padding: 10px 25px;
    border-radius: 4px;
    border: 1px solid transparent;
    color: white;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

/* ------------------------------------ section 8 testimonials ----------------------------- */

.testimonials {
    padding: 100px 0;
}

.testimonials-wrapper {
    text-align: center;
}

.testimonials-wrapper__subtitle {
    padding-bottom: 6px;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.testimonials-wrapper__title {
    padding-bottom: 14px;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.6rem;
}

.testimonials-wrapper__description {
    padding-bottom: 42px;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #666666;
}

.testimonials-wrapper__feedback-board {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
}

.comment-container {
    padding: 30px 0;
    border-radius: 20px;
    background: white;
}

.comment-container__recall {
    padding: 0 30px 20px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
    max-height: 96px;
}

.comment-container__person-wrapper {
    margin-top: 20px;
    padding:  0 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.person-wrapper__photo {
    border-radius: 100%;
    max-height: 48px;
    max-width: 48px;
}

.person-wrapper__contact-information {
    text-align: left;
}

.contact-information__name, 
.contact-information__company-name {
    font-size: 1.6rem;
    line-height: 2rem;
}


/* ------------------------------------ section 9 dawnload ----------------------------- */

.download {
    padding: 120px 0;
}

.download__download-container {
    text-align: center;
}

.download-container__subtitle {
    padding-bottom: 6px;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.download-container__title {
    padding-bottom: 14px;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.6rem;
}

.download-container__description {
    padding-bottom: 26px;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #666666;
}

.download-container__apple-button {
    padding: 12px 14px 10px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    background: black;
    border: 2px solid #A6A6A6;
    border-radius: 15px;
    color: white;    
}


.apple-button__textbox__title {
    padding-bottom: 6px;
    font-size: 1.5rem;
    line-height: 2.3rem;
}

.apple-button__textbox__subtitle {
    font-size: 2.8rem;
    line-height: 2.4rem;
}


/* ------------------------------------ section 10 faq ----------------------------- */

.faq {
    padding: 110px 0;
    background: #e5e5e5;
    color: black;
}

.faq-wrapper__title {
    padding-bottom: 14px;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-transform: uppercase;
}

.faq-wrapper__subtitle {
    padding-bottom: 42px;
    font-size: 1.5rem;
    line-height: 2rem;
}

.faq-wrapper__questions-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 40px;
}

.questions-container__answer-wrap {
    max-width: 576px;
}

.answer-wrap__title {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.answer-wrap__subtitle {
    font-size: 1.6rem;
    line-height: 2.4rem;
}


.footer {
    padding: 100px 0;
}

.footer__footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-wrapper__logo {
    margin-bottom: 14px;
    padding: 20px 18px;
    background: linear-gradient(134.43deg, #D140F8 -3.1%, #788CE9 33.99%, #37C2DE 66.36%, #1ECCAE 98.5%);
    font-size: 2.8rem;
    color: white;
    border-radius: 20px;
}

.footer-wrapper__title {
    padding-bottom: 26px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 2.8rem;
}

.footer-wrapper__links-container {
    padding-bottom: 28px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-wrapper__subtitle {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #B1B1B1;
}

.footer-wrapper__subtitle__link {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #666666;
}