body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 2.2rem;
}

.header.section {
    padding: 25px 0;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-wrapper__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header-wrapper__logo-container__logo {
    padding: 10px;
    font-size: 1.8rem;
}

.logo-container__title {
    font-size: 2rem;
    font-weight: 600;
}

.header-wrapper__navigation {
    display: flex;
    align-items: center;
    justify-items: space-between;
    gap: 32px;
}

.header-wrapper__navigation__link {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #666;
}
.header-wrapper__navigation__get-service {
    padding: 10px 25px;
    font-size: 1.4rem;
}


/* ------------------------------------ section 1 intro ----------------------------- */

.intro {
    min-height: 646px;
    overflow: hidden;
} 
.description {
    margin-top: 44px;
}

.description__logo-container {
    gap: 14px;
}

.description__logo-container__logo {
    padding: 17px 15px;
    font-size: 2.7rem;
    margin-bottom: 10px;
}

.description__logo-container__title {
    font-size: 3.2rem;
    font-weight: 600;
}

.description__title {
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 5rem;
    line-height: 6rem;
}

.description__explanation {
    margin-bottom: 20px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    text-align: left;
}


.description__activity-panel button {
    margin: 0 5px;
    padding: 10px 25px;
    font-size: 1.4rem;
}

/* to delete */

.body__section1__container__phone-screen img, 
.body__section4__container__phone-frame img,
.body__section5__container__phone-frame img {
    max-width: 376px;
    max-height: 746px;
}

/* ------------------------------------ section 2 features ----------------------------- */

.features {
    padding: 76px 0 124px;
}

.features-wrapper__text {
    max-width: 494px;
    margin: 0 auto;
    padding-bottom: 44px;
    text-align: center;
}

.features-wrapper__text__title{
    padding-bottom: 14px;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.features-wrapper__text__subtitle {
    display: inline-block;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.6rem;
}

.features-wrapper__tickets {
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.tickets__ticket-container {
    min-width: 32%;
    background: white;
    border-radius: 20px;
    color: black;
    overflow: hidden;
}

.ticket-container__pic-wrapper {
    max-height: 292px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.ticket-phone {
    padding-top: 40px;
    width: 226px;
    height: 450px;
}

.ticket-container__content-box {
    padding-bottom: 40px;
    display: flex;
    background: #f2f2f2;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.ticket-logo-container {
    position: sticky;
    margin: 0 auto;
    padding: 22px 20px;
    transform: translateY(-50%);
    max-width: 64px;
    max-height: 64px;
    border-radius: 0;
    transition: 1s;
}

.ticket-logo-container:hover {
    border-radius: 50%;
}

.ticket-container__content-box__title {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3rem;
}

.ticket-container__content-box__description {
    display: inline-block;
    margin: 0 auto;
    max-width: 298px;
    font-size: 1.5rem;
    line-height: 2.2rem;
}

/* ------------------------------------ section 3 ----------------------------- */

.body__section3 {
    padding: 80px 0 100px;
    display: flex;
    justify-content: space-around;

    background-color: #FF5437;
    color: white;
}

.body__section3__textbox {
    text-align: center;
}

.body__section3__textbox__text-header {
    font-size: 9.4rem;
}

.body__section3__textbox__phrase {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    line-height: 2rem;
}


.body__section4__container__article,
.body__section5__container__article {
    margin: 76px 188px 76px 78px;
    display: inline-block;
}

.body__section4__container__article__textname,
.body__section5__container__article__textname {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.body__section4__container__article__textheader,
.body__section5__container__article__textheader {
    margin: 5px 0 15px;
    font-size: 3.2rem;
    line-height: 3.6rem;
}

.body__section4__container__article__textbox,
.body__section5__container__article__textbox {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #666666;
}

.body__section5 {
    background-color: #f2f2f2;
}

.body__section5__container {
    display: flex;
    align-items: flex-start;
    padding: 0px 78px 0px 100px;
}

.body__section5__container__article {
    margin: 76px 0px 76px 0px;
}

.body__section5__container__phone-frame {
    margin: 0 194px 0px 100px;
}

.body__section6 {
    padding: 100px 420px 138px 420px;
    background-color: #222;
    color: #fff;
    text-align: center;
    z-index: 5;
}

.body__section6__switching-mode-frame__textname {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: 2rem;
    font-size: 1.4rem;
}

.body__section6__switching-mode-frame__textheader {
    margin: 6px 0 16px 0;
    font-size: 3.2rem;
    line-height: 2rem;
}

.body__section6__switching-mode-frame__textbox {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.body__section6__switching-mode-frame__phone-with-btn {
    overflow: hidden;
}

.body__section6__switching-mode-frame__phone-with-btn__phone-frame {
    padding-top: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    max-height: 512px;
    overflow: hidden;

    border-bottom: 4px solid #f2f2f2 ;
}

.body__section6__switching-mode-frame__phone-with-btn__phone-frame__container {
    display: inline-block;
    /* display: flex; */
    /* justify-content: center; */
}

.body__section6__switching-mode-frame__phone-with-btn__phone-frame__container img {
    max-width: 400px;
    max-height: 792px;
}

.body__section6__switching-mode-frame__phone-with-btn__phone-frame__container__phone-screen {
    position: relative;
    margin-top: 20px;
}


.body__section6__switching-mode-frame__phone-with-btn__switch-btn {
    padding: 42px 164px 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.body__section6__switching-mode-frame__phone-with-btn__switch-btn__button__light-mode__name, 
.body__section6__switching-mode-frame__phone-with-btn__switch-btn__button__dark-mode__name {
    text-align: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 2rem;
}

.body__section6__switching-mode-frame__phone-with-btn__switch-btn__button {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px 10px;
}

.body__section7 {
    padding: 100px 120px;
}

.body__section7__header-with-description {
    margin: 0 300px 40px;
    text-align: center;
}

.body__section7__frames {
    margin: 0 16px;
}

.body__section7__inner-block {
    overflow: scroll;
}

.text-name {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: 2rem;
    text-align: center;
}

.text-header {
    margin: 6px 0 14px;
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-align: center;
}

.text-description {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #666;
    text-align: center;
}

.body__section7__frames {
    display: flex;
    gap: 16px;
}

.body__section7__frames__grey-frame {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    text-align: center;
    background: #f2f2f2;
}

.blue { color: #0278ED; }

.red-orange { color: #FF5437; }

.dark-yellow { color: #FF9209; }

.blue button { background: #0278ED; }

.red-orange button { background-color: #FF5437; }

.dark-yellow button { background-color: #FF9209; }

.body__section7__frames__grey-frame__text-name {
    margin: 49px 146px 0;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.body__section7__frames__grey-frame__value {
    display: flex;
    flex-direction: column;
    margin: 12px 40px 20px;
}

.body__section7__frames__grey-frame__value__money {
    margin: 0 76px 25px;
    font-size: 10.8rem;
    line-height: 12.4rem;
    letter-spacing: .8rem;
}

.body__section7__frames__grey-frame__value__period {
    font-size: 14px;
    line-height: 2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    color: #222;
}

.body__section7__frames__grey-frame__btn-for-buy {
    height: 40px;
    width: 130px;
    margin: 0 calc(50% - 65px) 50px;
    border-radius: 4px;
    border: transparent;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;

    color: white;
}

.body__section8 {
    background: #f2f2f2;
    padding: 100px 120px;
}


.body__section8_container__header-with-description {
    margin: 0 300px;
}

.body__section8_container__comments {
    margin: 40px 16px 0;
    display: flex;
    flex-direction: row;
    gap: 16px;

    
}

.body__section8_container__comments__comment-container {
    background: #fff;
    border-radius: 20px;
}

.body__section8_container__comments__comment-container__text {
    margin: 30px 32px 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.body__section8_container__comments__user-container {
    margin: 20px 30px 30px;
    display: flex;
    flex-direction: row;
}

.body__section8_container__comments__user-container__name-organization {
    text-align: left;
    padding: 0 10px;
}
.body__section8_container__comments__user-container__name-organization__name {
    font-size: 1.6rem;
    line-height: 2rem;
}

.body__section8_container__comments__user-container__name-organization__organization {
    font-size: 1.4rem;
    line-height: 2rem;
}

.body__section8_container__comments__user-container__photo-container img {
    max-height: 48px;
    max-width: 48px;
    border-radius: 50%;
}

.body__section9__container {
    margin: 120px;
    padding: 0 300px;
}

.body__section9__container__main-content__btn-for-download {
    min-width: 180px;
    min-height: 60px;
    margin: 26px 210px 0;
    padding: 12px 16px 10px;
    background: black;
    border: 4px solid #a6a6a6;
    border-radius: 18px;
    color: white;
}

.body__section9__container__main-content__btn-for-download__inner-block {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
}

.body__section9__container__main-content__btn-for-download__logo-appstore {
    margin-top: 4%;
    min-height: 100%;
    min-width: 100% calc(100% - 135px);
    display: inline-flex;
    font-family: 'Space Grotesk', sans-serif;
}

.body__section9__container__main-content__btn-for-download__logo-appstore img {
    width: 26px;
    height: 32px;
    transform: scale(1.6);
}

.body__section9__container__main-content__btn-for-download__description {
    margin-top: 3%;
    display: inline-flex;
    flex-direction: column;
}

.body__section9__container__main-content__btn-for-download__description p {
    text-align: center;
}

.body__section9__container__main-content__btn-for-download__description p:first-child {
    font-size: 1.5rem;
    line-height: 2.3rem;
}

.body__section9__container__main-content__btn-for-download__description p:last-child {
    font-size: 2.8rem;
    line-height: 2.4rem;
}

.body__section10 {
    background-color: #e5e5e5;
    padding: 110px 120px 100px 120px;
}

.body__section10__container {
    padding: 0 16px;
}

.body__section10__container__header-with-description {
    width: 50%;
    margin-bottom: 40px;
}

.body__section10__container__header-with-description__text-header {
    margin-bottom: 14px;
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-transform: uppercase;
}

.body__section10__container__header-with-description__text-description {
    font-size: 1.5rem;
    line-height: 2rem;
}

.body__section10__container__faq-frames {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.body__section10__container__faq-frames__question-answer-frame {
    display: flex;
    flex-direction: column;
    max-width: calc(50% - 8px);
    margin: 0 4px 16px 0;
}

.body__section10__container__faq-frames__question-answer-frame__question {
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.body__section10__container__faq-frames__question-answer-frame__answer {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: 10px;
}

.body__footer {
    padding: 100px 136px;
    display: flex;
    justify-content: center;
}

.body__footer__container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.body__footer__container__logo-container img {
    width: 75px;
    height: 75px;
}

.body__footer__container__name-of-app {
    margin: 14px 0 26px;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 2.5rem;
}

.body__footer__container__contacts {
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.body__footer__container__contacts picture img {
    height: 24px;
    width: 24px;
}

.body__footer__container__about-author {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #B1B1B1;
}

.body__footer__container__about-author a {
    color: #666666;
    text-decoration: none;
}

/* .body__header__container {}

.body__header__container__logo-with-name {}

.body__header__container__logo-with-name img {}

.body__header__container__logo-with-name p {}

.body__header__container__navigation {}

.body__header__container__navigation_link {}

.body__header__container__navigation_btn {} */

/* .body__section1,
.body__section4,
.body__section5 {}

.body__section1__container,
.body__section4__container {}



.body__section1__container__description-with-btn {
    margin: 46px 180px 46px 78px;
    display: inline-block;
    max-width: 356px;
    max-height: 420px;
    cursor: pointer;
} */

/* .body__section1__container__description-with-btn__logo-with-name {}

.body__section1__container__description-with-btn__logo-with-name img {}

.body__section1__container__description-with-btn__logo-with-name p {} */

/* .body__section1__container__description-with-btn__text-header {}

.body__section1__container__description-with-btn__text-description {}

.section1-btn {} */

/* .phone-screen {
    display: inline-block;
    position: relative;
    max-width: 376px;
    max-height: 746px;
}

.phone-screen__container {
    display: flex;
    justify-content: center;
}

.first-pict {
    position: relative;
}

.second-pict {
    position: absolute;
    margin-top: 20px;
}

.third-pict {
    position: absolute;
} */

/* .body__section2 {}

.body__section2__container {}

.body__section2__container__header-textbox {}

.body__section2__container__section-title {}

.body__section2__container__text-header {}

.body__section2__container__phones-container {}

.body__section2__container__phones-container__white-frame {}

.body__section2__container__phones-container__white-frame__phone-frame {}

.body__section2__container__phones-container__white-frame__phone-frame img {}

.body__section2__container__phones-container__white-frame__text-with-logo {}

.body__section2__container__phones-container__white-frame__text-with-logo__logo-container {}

.body__section2__container__phones-container__white-frame__text-with-logo__logo-container:hover {}

.body__section2__container__phones-container__white-frame__text-with-logo__logo-container:not(hover) {}

.body__section2__container__phones-container__white-frame__text-with-logo__textheader {}

.body__section2__container__phones-container__white-frame__text-with-logo__textbox {} */